/* Header */
/* Nav */
.header {
  width: 100%;
  height: 9rem;
  background-color: rgb(255, 254, 255, 0.9);
  position: fixed;
  top: -9rem;
  z-index: 10;
  transition: height 0.5s;
  animation: animateNavbar 0.5s 0.7s forwards;
}

@keyframes animateNavbar {
  0% {
    top: -1rem;
  }

  100% {
    top: 0;
  }
}

.header.change {
  height: 100vh;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 5rem;
}

.logo-link h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
  font-family: "Permanent Marker", cursive;
  font-weight: bold;
  color: #3a9299;
  padding-left: 0.5rem;
}

.nav-list {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s 0.4s;
}

.nav-link {
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
  letter-spacing: 0.5rem;
  font-family: "Permanent Marker", cursive;
  font-weight: 500;
  color: rgb(54, 59, 107);
  margin: 1rem 0;
  transition: color 0.4s;
}

.nav-link:hover {
  color: rgb(255, 139, 186);
  font-weight: 800;
}

/* Menu */

.menu {
  width: 3rem;
  height: 4rem;
  position: fixed;
  top: 2rem;
  right: 4rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.3rem;
  background-color: #3a9299;
  transition: transform 0.3s;
}

.line1 {
  width: 50%;
}

.change .line1 {
  transform: translate(100%, 1rem) rotate(-35deg);
  transform-origin: right;
}

.line3 {
  width: 50%;
  margin-left: auto;
}

.change .line3 {
  transform: translateY(-1rem) rotate(35deg);
  transform-origin: right;
}

/* End of nav */

/* End of header */

/* ---------------------- */

/* *********************** */
/* Responsive menu  */
@media (max-width: 980px) {
  /* .nav-link {
    font-size: 2.5rem;
    letter-spacing: normal;
  } */
  .logo {
    left: 0;
  }
}

@media (max-width: 452px) {
  .nav-link {
    /* font-size: 2rem; */
    letter-spacing: normal;
  }
  .logo {
    left: 0;
  }

  .logo-link h1 {
    /* font-size: 2.5rem; */
  }
  .menu {
    right: 1.5rem;
    top: 3rem;
  }
}

@media (max-width: 280px) {
  .nav-link {
    /*  font-size: 1rem;  */
    letter-spacing: normal;
  }
  .logo {
    left: 0;
  }

  .menu {
    right: 0;
  }

  .logo-link h1 {
    /* font-size: 2rem; */
  }
  .menu {
    right: 1.5rem;
    top: 3rem;
  }
}
/* End of Media queries */
