@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    /* font-family: "Barlow Semi Condensed", sans-serif; */
    /* font-family: "Playfair Display", serif; */
    background-color: #fff;
}
/* .main {
    max-width: 1200px;
    margin: auto;
} */
/* -----------image slider----------- */
.slider {
    width: 100%;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.slider__list {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.slider__list img {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider__button {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider__button button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}

.slider__dots {
    position: absolute;
    bottom: 20px;
    /* color: #fff; */
    /* left: 0; */
    width: 100%;
    /* margin: 0; */
    /* padding: 0; */
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.slider__dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.slider__dots > li.active {
    width: 30px;
    background-color: #f8f6f6e8;
}
/* ---------------------- */
/* .banner {
    background-image: url(resources/banner/person-holds-a-book-over-a-stack-and-turns-the-page.jpg);
    background-size: cover;
    background-position: center;
    height: 40rem;
}

.hgroup-ctr {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hgroup-ctr__title {
    display: flex;
    font-size: clamp(3.5rem, 7vw, 8rem);
    color: #fff;
    background-color: rgba(22, 22, 22, 0.3);
    font-family: "Playfair Display", serif;
    font-weight: 900;
    letter-spacing: 10px;
    text-shadow: 0 0 6px #050011;
} */

/* ---------------------- */

.main-headline {
    max-width: 1200px;
    height: 25vmin;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: end;
}
.main-headline__text {
    font-size: clamp(1rem, 10vmin, 6rem);
}
/* ---------------------- */
.main-card {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50vmin, 1fr));
    gap: 5px;
    margin: auto;
}

.main-card__ctr {
    height: 50vmin;
}
.main-card__text,
.main-card__img {
    height: 100%;
    width: 100%;
}
.main-card__text {
    background-color: #000;
    color: #fff;
    font-size: clamp(1.5rem, 8vmin, 6rem);
}
.main-card__img {
    object-fit: cover;
    clip-path: circle();
}
/* ---------------------- */
.slider-top10-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 1200px;
    margin: 100px auto;
}
.slider-top10-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 50px;
    width: 100%;
    text-align: center;
}
.slider-top10 {
    width: 400px;
    max-width: 100vw;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.slider-top10__list {
    position: absolute;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.slider-top10__list img {
    width: 400px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider-top10__button {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider-top10__button button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
}
/* ---------------------- */

.imgOverlay__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: auto;
    max-width: 1450px;
    gap: 30px;
}

.imgOverlay__content {
    position: relative;
    width: 350px;
    max-width: 100vw;
    height: 550px;
    max-height: 100vmin;
    margin: auto;
    color: #fff;
}

.imgOverlay__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgOverlay__content,
.imgOverlay__content img,
.imgOverlay__overlay {
    border-radius: 8px;
}

.imgOverlay__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    /* width: 100%; */
    height: 0;
    transition: all 1s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.imgOverlay__container :hover .imgOverlay__overlay {
    height: 100%;
}

.imgOverlay__overlay h2 {
    font-size: 3rem;
}
.imgOverlay__overlay p {
    font-size: 1.3rem;
    line-height: 1.5;
    letter-spacing: 2px;
}
.imgOverlay__content .imgOverlay__content--text {
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    position: absolute;
    font-size: 2rem;
    transition: 0.5s ease-in;
    text-align: center;
    letter-spacing: 3px;
}
.imgOverlay__content:hover .imgOverlay__content--text {
    opacity: 0;
}

/* .imgOverlay__content--shadow1 {
    box-shadow: 0 0 30px 2px #f1b4b4;
}
.imgOverlay__content--border1 {
    border: 2px solid #f1b4b4;
}
.imgOverlay__content--color1 {
    color: #f1b4b4;
} */
.imgOverlay__content--shadow2 {
    /* box-shadow: 0 0 30px 2px #eb0e0e; */
}
.imgOverlay__content--border2 {
    border: 2px solid #eb0e0e;
}
.imgOverlay__content--color2 {
    color: #eb0e0e;
}
/* .imgOverlay__content--shadow3 {
    box-shadow: 0 0 30px 2px #0eeb3e;
}
.imgOverlay__content--border3 {
    border: 2px solid #0eeb3e;
}
.imgOverlay__content--color3 {
    color: #0eeb3e;
} */
.imgOverlay__content--shadow4 {
    box-shadow: 0 0 30px 2px #0e5beb;
}
.imgOverlay__content--border4 {
    border: 2px solid #0e5beb;
}
.imgOverlay__content--color4 {
    color: #0e5beb;
}
.imgOverlay__content--border1,
.imgOverlay__content--color1 {
    color: rgb(241, 180, 180);
    box-shadow: 0 0 30px 2px rgb(241, 180, 180);
}

/* ---------------------- */

.testimonials {
    max-width: 1400px;
    margin: 0 auto 100px;
    padding: 1.5rem;
    display: grid;
    font-family: "Barlow Semi Condensed", sans-serif;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr, 1fr;
    gap: 2rem;
    cursor: pointer;
}
.testimonials > .testimonials-card:hover {
    background-color: #f8f8ff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset -1px 1px 9px 4px #ededed, -14px -14px 80px #fff;
}

.testimonials-card {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0px 0px 100px 10px rgba(17, 12, 46, 0.15);
}

.testimonials-card__header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.testimonials-card__header h3 {
    font-size: 15px;
}

.testimonials-card__header p {
    opacity: 0.5;
    font-size: 14px;
}

.testimonials-card__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #931f1d;
    margin-right: 10px;
}

.testimonials-card__lead {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}

.testimonials-card__quote {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.7;
}

.testimonials-card:nth-of-type(1) {
    grid-column: 1 / 3;
}

.testimonials-card:nth-of-type(4) {
    grid-column: 2 / 4;
    grid-row: 2;
}

.testimonials-card:nth-of-type(5) {
    grid-column: 4;
    grid-row: 1 / 3;
}

@media (max-width: 850px) {
    .testimonials {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .testimonials-card:nth-of-type(1) {
        grid-column: 1;
    }

    .testimonials-card:nth-of-type(4) {
        grid-column: 1;
        grid-row: 4;
    }

    .testimonials-card:nth-of-type(5) {
        grid-column: 1;
        grid-row: 3;
    }
}
/* ---------------------- */
.info-container {
    background-color: #ececec;
    width: 100%;
    font-family: "Playfair Display", serif;
}
.info-content {
    max-width: 1200px;
    padding: 50px 10px 25px;
    margin: auto;
}
.info-content figure {
    position: relative;
    display: flex;
    align-items: center;
}

.info-content img {
    width: 100%;
    min-height: 350px;
    max-height: 500px;
    object-fit: cover;
}

.info-container figcaption {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 5px #160c0c;
}

.info-container h2 {
    font-size: 9vmin;
    font-weight: 900;
    width: 70%;
    margin: auto;
}

.info-content .figure__text {
    padding: 30px 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
    width: 75%;
    margin: auto;
}
.info-content .figure__text::before,
.info-content .figure__text::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
}

.info-content .figure__subtext {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.5rem;
}
/* ---------------------- */
footer {
    background: linear-gradient(
        180deg,
        #040024 30%,
        #800026,
        #c40303,
        #e6405b,
        #ffffff
    );
    height: 600px;
}

.footer-container {
    max-width: 1100px;
    height: 100%;
    margin: auto;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    place-content: center;
    font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 736px) {
    footer {
        height: 800px;
    }
}
.footer__content {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0px 0px 10px #000;
    padding: 20px;
}
.footer__content--inline-size {
    inline-size: 50%;
}
.footer__content > a:is(:visited, :active, :link) {
    color: white;
    text-decoration: none;
}
.footer__content > a:is(:hover, :focus) {
    color: #3a44d3;
    transform: scale(1.1);
    text-decoration: underline;
}
.footer__content .fa-brands,
.fa-regular,
.fa-solid {
    margin-right: 15px;
    font-size: 2rem;
}

.footer__content h3 {
    color: #fff;
    font-size: 1.3rem;
    padding-bottom: 22px;
}
.footer__content--label {
    color: #fff;
    font-size: 0.8rem;
    padding-bottom: 22px;
    max-width: 320px;
}
.footer__content--email {
    padding: 6px 12px;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 300px;
}
.footer__content--submit {
    width: 6rem;
    font-size: 1rem;
    padding: 5px;
    color: #fff;
    background-color: #181818;
    transform: all 1s;
    border-radius: 10px;
    border: 3px solid #f8f8ff;
}

.footer__content > .footer__content--submit:hover {
    color: #000;
    background-color: #f8f8ff;
    border: 3px solid #181818;
}

.footer__content a {
    line-height: 3rem;
}
/* ---------------------- */
